.container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.current-image {
  width: 100%;
  height: auto;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

.circle-indicators {
  text-align: center;
  margin-top: 10px;
}

.indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: grey;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.indicator.active {
  background-color: black;
}
